#top{
    text-align: center;
    top: 0%;
    left: 38%;
    position: absolute;
    font-size: 80px;
}
#a2{
    background-color: #00008B;
}
#imgg2{
    height: 350px;
    top: 25%;
    left: 38%;
    position: absolute; 
}
#div2{
    background-color: #BDEDFF;
    border: 3px dashed black;
    padding: 13px 13px 13px 20px;
    margin: 10px auto;
    text-align: justify;
    top: 80%;
    left: 20%;
    right:20%;
    position: absolute; 
}
#img1{
    top: 140%;
    position: absolute; 
}
#img2{
    top: 170%;
    position: absolute; 
}
#img3{
    top: 200%;
    position: absolute; 
}
#h1{
    top: 140%;
    left: 50%;
    position: absolute; 
}
#h2{
    top: 170%;
    left: 50%;
    position: absolute; 
}
#h3{
    top: 200%;
    left: 50%;
    position: absolute; 
}
footer {
    top:220%;
    position: absolute;
}
.img{
    height: 120px;
    width: 130px;
    left: 35%;
    position: absolute; 
    border: 3px solid black;
}