#top{
    text-align: center;
    font-size: 60px;
}
#top1{
    text-align: center;
    top: 15%;
    left: 37%;
    position: absolute;
    font-size: 40px;
}
.lb{
    left: 35%;
    position: absolute;
}
.bo{
    left: 45%;
    position: absolute;
}
#submit{
    top: 115%;
    left: 42%;
    position: absolute; 
}
footer {
    top:125%;
    left: 0;
    right: 0;
    position: absolute;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}